<p>userform works!</p>
<input [(ngModel)]='user.firstName' type="text">
<input  [(ngModel)]='user.age' type="text">
<input type="radio" value="Male" [(ngModel)]='user.gender'>Male
<input type="radio" value="Female" [(ngModel)]='user.gender'>Female
<input type="checkbox">Java
<input type="checkbox">angular
<input type="checkbox">Javascript
{{user.firstName}}
<button (click)='save()'>Save</button>

<ol>
    <li *ngFor='let user of users'>
        {{user.firstName | lowercase|uppercase| custom}}, {{user.age | currency: 'AD'}}, {{user.gender}}
        <button>Delete</button>
    </li>
</ol>
